<% include ./partials/header %>
<div class="mt-4 container">
<div class="row">
	<div class="col-md-6">
		<form action="/forgot" method="POST">
			<legend class="text-info">Forgot Password</legend>
			<div class="form-group">
				<label for="email">Enter Your Email</label>
				<input type="email" name="email" autofocus class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset Password">
			</div>
		</form>
	</div>
</div>
</div>
<% include ./partials/footer %>